@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

html{
    scroll-behavior: smooth;
}
.CONTAINER{
    width: 100%;
    max-width: 1200px;
    //padding: 5px 0px;
    background: rgb(240, 33, 33);
    margin: auto;
    display: grid;
    //gap: 1em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,auto);
    grid-template-areas: "HEADER         HEADER         HEADER"
                         "QUIENES_SOMOS  QUIENES_SOMOS  QUIENES_SOMOS"
                         "SECTION        SECTION        SECTION"
                         "DESCRIPCION    DESCRIPCION    DESCRIPCION"
                         "FOOTER         FOOTER         FOOTER";
    .HEADER{
        //padding: 5px 0px;
        background: rgb(1, 47, 65);
        grid-area: HEADER;
    }
    .QUIENES_SOMOS{
         //padding: 5px 0px;
         //background: rgb(1, 47, 65);
         grid-area: QUIENES_SOMOS;
    }
    .SECTION{
        //padding: 5px 0px;
        //background: rgb(1, 47, 65);
        grid-area: SECTION;
    }
    .DESCRIPCION{
        //padding: 5px 0px;
        //background: rgb(1, 47, 65);
        grid-area: DESCRIPCION;
    }
    .FOOTER{
        //padding: 5px 0px;
        background: rgb(1, 47, 65);
        grid-area: FOOTER;
    }
    
}