$colorVino:rgb(77, 0, 32);
$colorVinoClaro:rgb(124, 0, 52);
$colorVinoTransparente:rgba(77, 0, 32, 0.363);
$colorBlanco:rgb(231, 231, 231);
$colorBlck:rgb(27, 27, 27);
$colorBlckTransparente:rgba(27, 27, 27, 0.733);